.info {
  padding: 80px 0;
}
.info__title {
  padding: 0 0 30px;
  text-align: center;
  font-size: 52px;
  line-height: 58px;
  color: var(--primaryColor);
}

.info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__top__left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.info__left__title {
  padding: 10px;
  font-size: 22px;
  line-height: 27px;
  color: var(--primaryColor);
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
.info__left__desc {
  padding: 10px;
  font-size: 22px;
  line-height: 27px;
  color: var(--primaryColor);
  border-bottom: 1px solid transparent;
  opacity: 0.5;
}

.info__left__title:hover {
  border-color: black;
}
.info__left__desc:hover {
  border-color: black;
}
.info__top__infos {
  max-width: 400px;
  font-size: 22px;
  line-height: 25px;
  color: var(--primaryColor);
}

.price__cards {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.price__card {
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  padding: 20px;
}

.price__card__title {
  padding: 10px 0 20px;
  font-size: 20px;
  line-height: 22px;
  color: var(--primaryColor);
}

.price__card__desc {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: var(--primaryColor);
  opacity: 0.5;
}

.price__infos .price__card__desc {
  padding-top: 20px;
  line-height: 30px;
  padding: 0 25px;
}
.price__sorov {
  padding: 10px 0 20px;
  font-size: 20px;
  line-height: 22px;
  color: var(--primaryColor);
}
.sorov {
  color: white;
}
.green__title {
  color: var(--greenColor);
}
.price__card:nth-child(2) {
  background: #f1f1f1;
}
.price__card:nth-child(3) {
  background: #000000;
}
.desc {
  color: white;
}
