.info {
  padding: 80px 0;
}
.info__title {
  padding: 0 0 30px;
  text-align: center;
  font-size: 52px;
  line-height: 58px;
  color: var(--primaryColor);
}

.info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__top__left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.info__left__title {
  padding: 10px;
  font-size: 22px;
  line-height: 27px;
  color: var(--primaryColor);
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
.info__left__desc {
  padding: 10px;
  font-size: 22px;
  line-height: 27px;
  color: var(--primaryColor);
  border-bottom: 1px solid transparent;
  opacity: 0.5;
}

.info__left__title:hover {
  border-color: black;
}
.info__left__desc:hover {
  border-color: black;
}
.info__top__infos {
  max-width: 400px;
  font-size: 22px;
  line-height: 25px;
  color: var(--primaryColor);
}
